@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #0f172a;
    background: linear-gradient(to right, #f8fafc 65%, #e2e8f0 65%);
}

/* navbar */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 55px;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(14px);

    border-bottom: 1px solid rgba(226, 232, 240, 0.5);
}

.nav-left {
    font-size: 14px;
    font-weight: 600;
}

.nav-left span {
    font-weight: 400;
    color: #64748b;
}

.nav-right {
    display: flex;
    gap: 24px;
}

.nav-right a {
    text-decoration: none;
    color: #0f172a;
    font-size: 13.5px;
    position: relative;
}

.nav-right a:hover {
    color: #2563eb;
}

/* container */

.container {
    max-width: 880px;
    margin: 55px auto;
    background: white;
    padding: 45px;
    border-radius: 10px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.07);
}

header {
    border-bottom: 2px solid #e2e8f0;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 38px;
    margin-bottom: 6px;
}

header p {
    font-size: 14.5px;
    color: #475569;
}

/* sections */

section {
    margin-top: 28px;
    scroll-margin-top: 85px;
}

h2 {
    font-size: 14px;
    color: #2563eb;
    border-bottom: 2px solid #2563eb;
    padding-bottom: 5px;
    margin-bottom: 12px;
}

/* items */

.item {
    margin-bottom: 18px;
}

.item-header {
    display: flex;
    justify-content: space-between;
}

.item-header strong {
    font-size: 16px;
}

.item-header span {
    font-size: 13.5px;
    color: #64748b;
}

p {
    font-size: 15px;
    line-height: 1.65;
}

/* skills */

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    padding: 0;
    list-style: none;
}

li {
    background: #f1f5f9;
    padding: 7px 10px;
    border-radius: 6px;
    font-size: 13.5px;
}

li:hover {
    background: #2563eb;
    color: white;
}
